# Database (Supabase)
DATABASE_URL="postgresql://postgres.iktjysciuduxlnqrbjwc:!GZTWft2@z*id5Q@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.iktjysciuduxlnqrbjwc:!GZTWft2@z*id5Q@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

# Auth
AUTH_SECRET="my-super-secret-key-123"
NEXTAUTH_URL="https://softlandksa-healthysales-sys.vercel.app"
NEXTAUTH_SECRET="my-super-secret-key-123"

AUTH_URL="https://softlandksa-healthysales-sys.vercel.app"
# App
NEXT_PUBLIC_APP_NAME="نظام إدارة المبيعات الميداني"
NEXT_PUBLIC_APP_VERSION="0.1.0"